
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// Fuente principales
$fuente_principal: 'Inter', sans-serif;
$fuente_heading  : 'Playfair Display', serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$background-color: rgb(15 23 42 /1);
$color_principal :#F2994A;
$color_secundario: #2F80ED;
$gray: #BDBDBD;
$gray__claro : #333;
$text__title : #E2E8F0;
$text__body : #94A3b8;
$text__body__claro : #64748B;