// Fuente principales
$fuente_principal: 'Montserrat', sans-serif;
$fuente_heading  : 'Playfair Display', serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$color_principal :#F2994A;
$gray: #BDBDBD;
$gray__claro : #333;