@use '../base/variables' as v;

.portNav {
    padding: 4.2rem 0;
    color: v.$text__title;
    &__name {
        font-weight: 700;
        font-family: v.$fuente_principal;
        font-size: 3.2rem;
        margin: 0;
    }

    &__role {
        margin: 1rem 0;
    }

    &__textBody {
        color: v.$text__body;
    }
}